@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Oswald:wght@200&display=swap');

:root {
        /*colors*/
        --shadow: #00000046;
        --black: #333333;
        --gray: #555555;
        --white: #f5f5f5;
        --blue1: #BFD7EA;
        --blue2: #1E405C;
        --blue3: #162B3B;

        /*typography*/
        --font1: Georgia, 'Times New Roman', Times, serif;
        --font2: 'Comfortaa', 'Courier New', Courier, monospace;
        --font3: 'Oswald', sans-serif;;
}

* {
        margin: 0;
        padding: 0;
        border: 0;
}

body {
        background-color: var(--blue1);
        width: 100%;
}

header {
        width: 100%;
}

main {
        color: var(--black);
        font-family: var(--font1);
        width: 100%;
        margin: 0 auto;
}

a#logo {
        font-family: var(--font2);
        color: var(--gray);
}

#bg-header {
        width: 100%;
        height: 450px;
        background: var(--blue2) url(../images/blue-landscape.jpg) center bottom no-repeat fixed;
        background-size: cover;
        position: relative;
        margin-bottom: 200px;
}

#bg-text {
        background-color: #376a96bc;
        color: var(--white);
        display: inline-block;
        font-family: var(--font3);
        letter-spacing: 0.1em;
        text-transform: capitalize;
        font-variant: small-caps;
        font-size: 1.7rem;
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%,-50%);
}

#profile-picture {
        background: var(--white) url(../images/eduarda-profile-picture.jpg) center center no-repeat local;
        background-size: cover;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        border: 2px solid var(--white);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
}

.section {
        background-color: var(--white);
        color: var(--gray);
        max-width: 400px;
        display: block;
        margin: 0 auto 40px auto;
        border-radius: 5px;
}

.section h1 {
        letter-spacing: 0.08em;
}

.section h2 {
        text-indent: 3px;
        letter-spacing: 0.15em;
        text-transform: capitalize;
        font-variant: small-caps;
        font-family: var(--font3);
        font-size: 1.2rem;
        font-weight: 600;
}

#container-personal {
        padding: 20px 10px;
}

#name-personal {
        padding: 0px 10px;
}

.list-personal {
        list-style-type: none;
        font-size: 0.85rem;
        line-height: 2.5rem;
        padding: 0;
}

#label-personal {
        text-indent: 10px;
        width: 30%;
}

#details-personal {
        width: 70%;
}

.list-personal a {
        text-decoration: none;
        color: var(--gray);
}

.list-personal a:hover {
        text-decoration: underline;
}

.about-section {
        text-indent: 10px;
        padding: 20px 10px;
}

#about h3, #work-section h3 {
        text-align: start;
        padding: 0 0 0 10px;
        font-size: 1.1rem;
        color: var(--black);
        text-shadow: none;
}

.about-section hr {
        width: 95%;
        margin: 15px auto;
}

.about-section ul {
        list-style-position: inside;
        list-style-type: circle;
        margin: -25px 0px;
        padding: 10px;
}

.about-section li {
        line-height: 2.5rem;
}

/*project & contact*/

.titles {
        display: block;
        text-align: center;
        background-color: var(--blue2);
        color: var(--blue1);
        padding: 10px;
        margin: 50px 0;
        letter-spacing: 0.15em;
        text-transform: capitalize;
        font-variant: small-caps;
        font-family: var(--font3);
        font-size: 1.4rem;
        font-weight: 600;
}

.section > h3 {
        text-align: center;
        padding: 30px 10px 20px 10px;
        font-size: 1.3rem;
        letter-spacing: 0.15em;        
        color: var(--black);
        font-family: var(--font1);
        text-shadow: 2px 2px 2px var(--shadow);
}

#project-container {
        max-width: 320px;
        margin: auto;
}

#project-container img {
        max-width: 320px;
        border: 1px solid var(--blue1);
        box-shadow: 10px 10px 10px var(--shadow);
}

#project-container img:hover {
        border: 1px solid var(--blue3);
}

.project-link {
        margin: 10px auto;
        text-align: center;
}

.project-link a {
        text-decoration: none;
        color: var(--gray);
}
.project-link a:hover {
        text-decoration: underline;
}

#link-github {
        background-color: var(--gray);
        border-radius: 0px 0px 5px 5px;
}

#link-github a {
        color: var(--white);
        margin-bottom: 20px;
}

#form {
        max-width: 320px;
        margin: auto;
        padding-bottom: 30px;
        
}

.form-label {
        color: var(--gray);
        font-size: 0.9rem;
        text-indent: 2px;
}

.form-field {
        display: block;
        border: 1px solid var(--blue1);
        width: 100%;
        border-radius: 5px;
        padding: 5px;
        margin: 0 0 25px 0;
        color: var(--gray);
}

.form-field:hover {
        border-color: var(--blue2);
}

#submit-btn {
        width: 50%;
        margin: auto;
}

.btn {
        background-color: var(--blue2);
        border: 1px solid var(--blue1);
        color: var(--white);
        border-radius: 5px;
        padding: 5px;
        box-shadow: 5px 5px 10px var(--shadow);
}

.btn:hover {
        background-color: var(--blue1);
        border: 1px solid var(--blue2);
        color: var(--blue2);

}

/*footer*/

footer {
        background-color: var(--blue3);
        color: var(--blue1);
        width: 100%;
        text-align: center;
}

.footer-section p {
        font-size: 1.1rem;
}

#footer-link {
        position: relative;
}

#footer-link p {
        position: relative;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);

}

#footer-link a {
        display: inline;
        padding: 10px;
        text-decoration: none;
        color: var(--blue1);
}

#footer-link a:hover {
        text-decoration: underline;
        text-decoration-color: var(--blue1);
}

.footer-section {
        display: block;
        width: 100%;
        height: 100px;
}

.footer-section p > img {
        width: 20px;
        height: 20px;
        padding: 1px;
        border-radius: 50%;
}

.sticky-section {
        position: -webkit-sticky;
        position: sticky;
        top: 94%;
        display: inline;
}

#btn-sticky {
        padding: 5px;
        font-size: 0.9rem;
        font-weight: 500;
        margin-left: 10px;
        border-radius: 5px;
        color: var(--blue1);
        text-decoration: none;
        font-family: var(--font2);
        border: 1px solid var(--blue2);
        background-color: #1e405cd5;
        box-shadow: 5px 5px 5px var(--shadow);
}

#btn-sticky:hover {
        background-color: var(--blue3);
}

.footer-section img {
        width: 27px;
        height: 27px;
        margin: 0 15px;
        border-radius: 5px;
        background-color: var(--blue1);
}

.footer-section img:hover {
        border: 1px solid var(--blue1);
}

.row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}

.col {
        flex-basis: 100%;
}

/*page-404-error*/

#bg-header-404 {
        width: 100%;
        height: 80vh;
        background: var(--blue2) url(../images/blue-landscape.jpg) center bottom no-repeat fixed;
        background-size: cover;
        position: relative;
}

#bg-header-404 a {
        color: var(--white);
        text-decoration: none;
}

#bg-header-404 a:hover {
        text-decoration: underline;
}

/*mobile devices*/

@media screen and (min-width: 350px) {

        .list-personal {
                text-indent: 10px;
        }

        .col {
                flex: 1;
        }
}

/*tablets or medium devices*/

@media screen and (min-width: 768px) {
        #bg-header {
                height: 550px;
        }
        .section {
                max-width: 90%;
                min-width: 315px;
        }
        .about-section {
                padding: 30px 0;
        }
        #about {
                max-width: 90%;
                margin: auto;
        }
        .col {
                flex: 1;
        }

        #skill-section, #education-section {
                width: 44vw;
                display: inline-block;
        }
        
        #spacer {
                width: 1vw;
                display: inline-block;
        }

}

/*desktop or large devices*/

@media screen and (min-width: 1024px) {
        .col {
                flex: 1;
        }
        main {
                max-width: 900px;
                border-radius: 20px;
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.126);
        }
        #skill-section, #education-section {
                width: 396px;
                display: inline-block;
        }
        #spacer {
                width: 10px;
                display: inline-block;
        }
        .section {
                width: 100%;
        }
}