@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

:root {
        /*colors*/
        --color0: #ffffff;
        --color1: #BFD7EA;
        --color3: #376996;
        --color4: #03045E;
        --color6: #000000;
    
        /*typography*/
        --font0: font-family: Georgia, 'Times New Roman', Times, serif;
        --font1: font-family: 'Comfortaa', cursive;
        --font2: ;
}